@font-face {
  font-family: 'adrianna-bold';
  src: url('https://drsquatch.com/s/files/1/0275/7784/3817/t/1401/assets/_fonts.static.css?v=112240259192014393731679558609&amp;em-origin=cdn.shopify.com')
}

* {
  font-family: 'adrianna-bold', Arial, sans-serif;
}

